.loginContainer {
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: teal;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.loginBtn {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: slateblue;
    cursor: pointer;
}

.failure {
    font-size: 12px;
    color: red;
    text-align: center;
}

.loginCancel {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
