.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    width: max-content;
    color: tomato;
    border-bottom: 0.5px solid tomato;
    font-size: 13px;
    margin: 3px 0;
}

.desc {
    font-size: 14px;
}

.star {
    color: gold;
}

.username {
    font-size: 14px;
}
.date {
    font-size: 12px;
}

form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input,
textarea {
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
    font-size: 12px;
    color: rgb(179, 175, 175);
}

.submitBtn {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.button {
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.logout {
    background-color: tomato;
}
.login {
    background-color: teal;
    margin-right: 10px;
}
.register {
    background-color: slateblue;
}

.buttons, .logout {
    position: absolute;
    right: 10px;
    top: 10px
}
